.new {
    width: 100%;
    display: flex;

    .newContainer {
        flex: 6;

        .top,
        .bottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            display: flex;
            text-align: center;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                text-align: center;
            }



            form {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .formInput {
                    width: 40%;
                    padding: 20px;

                    input {
                        width: 100%;
                        padding: 5px;
                        border: none;
                        border-bottom: 1px solid gray;
                    }

                    label {
                        display: flex;
                    }

                }

                .oneline {
                    padding: 20px;
                    width: 100%;

                    .lab {
                        display: flex;
                    }
                }

                p {
                    display: flex;
                    width: 100%;
                }

                .button {
                    margin-left: 20px;
                    margin-bottom: 20px;
                    width: 150px;
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    font-weight: bold;
                    cursor: pointer;
                }

            }
        }
    }
}